.barrita-nav {
    background-image: linear-gradient($azul-pastel, $azul-oscuro);
    display: flex;

    .logo {
        img {
            width: 300px;
            height: 100px;
        }

    }



    .titulo {
        h1 {
            font-size: 50px;
            text-align: center;
            padding: 35px 35px;
            color: $celeste-cielo;

        }
    }

}